<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin_sty.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm"style="background-color:rgba(48,47,47,255);">
        <div class="container">
          <a class="navbar-brand" href="admin_home">
            <img src="{% static 'images/smart home logo.png' %}" alt=""style="height: 100px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="add_pro" style="color: rgba(255,188,58,255);">Add Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="add_cate" style="color: rgba(255,188,58,255);">Add Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: rgba(255,188,58,255);">View Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: rgba(255,188,58,255);" href="logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-control">
            <label for="Category_name">Category</label>
            <input type="text" name="cate_name" placeholder="enter product Category">
        </div>
        <button type="submit" class="btn btn-primary btn-block">submit</button>
    </form>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>